<h3><% if (recId) { %>Editar<% } else { %>Nueva<% } %> Sub Clase</h3>
<hr/>
<div class="alert alert-warning div-errors"></div>
<form role="form">
  <fieldset>
    <div class="row">
      <div class="col-xs-5">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" class="form-control" maxlength="50">
        </div>
        <div class="form-group">
          <label for="categoria_id">Categoría:</label>
          <select name="categoria_id" class="form-control">
            <option value="">-- Seleccione --</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="activo" checked="checked"> Activo
          </label>
        </div>
      </div>
    </div>
    <%= tplBtns({ id: recId, btn_delete: true, btn_cancel: false }) %>
  </fieldset>
</form>