<h3>Movimientos de Cuentas</h3>
<hr/>
<div class="row">
  <div class="col-sm-3 col-md-2">
    <div class="row">
      <div class="col-sm-12"><h5>Filtros</h5></div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <%= tplCancel() %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <label>Tipo:</label>
        <select class="form-control list-filter" name="tipo" style="max-width:120px;">
          <option value="">Todos</option>
          <option value="A">Abonos</option>
          <option value="C">Cargos</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <label>Auto/Man:</label>
        <select class="form-control list-filter" name="automatico" style="max-width:120px;">
          <option value="">Todos</option>
          <option value="1">Automáticos</option>
          <option value="0">Manuales</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10">
    <div class="row">
      <div class="col-sm-2" style="margin-bottom: 5px;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nuevo
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="cmd-add" style="cursor:pointer;"><a>Movimiento</a></li>
            <li class="cmd-add-transfer" style="cursor:pointer;"><a>Traspaso</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-sm-4" style="margin-bottom: 5px;">
        <select class="form-control list-filter" name="cuenta_id">
          <option value="">-- Todas las Cuentas --</option>
        </select>
      </div>
      
      <div class="col-sm-2 hidden-xs">
        <div id="div-account-balance-grid" class="pull-right" style="margin-top:5px;" title="Saldo de la cuenta">$0.00</div>
      </div>
      
      <div class="col-sm-4">
        <%= tplSearch() %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <td>
                <span class="order-field" orderfield="fecha" ordertype="DESC">
                  Fecha <span class="glyphicon glyphicon-arrow-down"></span>
                </span>
              </td>
              <td>
                <span>Concepto</span>
              </td>
              <td align="right">
                <span>Importe ($)</span>
              </td>
              <td align="center">
                <span>Tipo</span>
              </td>
              <td align="center" title="Automático/Manual">
                <span>A/M</span>
              </td>
              <td align="center" title="Traspaso">
                <span>Trasp.</span>
              </td>
            </tr>
          </thead>
          <tbody class="main-data-list"></tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="pull-right">
        <%= tplPaging() %>
      </div>
    </div>
    <br>
  </div>

  <div class="modal fade" id="dialog-movement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Información del Ingreso/Gasto</h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed">
            <tbody>
              <tr>
                <td>Tipo: </td>
                <td attr="type"></td>
                <td>Fecha: </td>
                <td attr="date"></td>
              </tr>
              <tr>
                <td>Importe:</td>
                <td attr="total"></td>
                <td>Estado: </td>
                <td attr="status"></td>
              </tr>
              <tr>
                <td>Categoría: </td>
                <td colspan="3" attr="category"></td>
              </tr>
              <tr>
                <td>Subcategoría: </td>
                <td colspan="3" attr="subcategory"></td>
              </tr>
              <tr>
                <td>Observaciones: </td>
                <td colspan="3" attr="comments"></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</div>
<br>