<td>
  <span class="glyphicon glyphicon-edit row-btn-edit" style="visibility:hidden;"></span>
  <%= fecha %>
  <div class="cls-sub-text" style="margin-left:18px"><%= dayOfWeek() %></div>
</td>
<td style="text-align:center">
	<% if (tipo == 'A') { %>
		<span class="label label-success"><%= tipo_nombre() %></span>
	<% } else { %>
	<span class="label label-warning"><%= tipo_nombre() %></span>
	<% } %>
</td>
<td>
	<div><%= concepto %></div>
	<div class="cls-sub-text"><%= cuenta_nombre %></div>
</td>
<td style="text-align:right">$<%= importe.formatMoney() %></td>
<td style="text-align:center">
	<% if (parseInt(automatico)) { %>
		<span class="label label-info cls-mov-auto hidden-xs">Automático</span>
		<span class="label label-info cls-mov-auto visible-xs">A</span>
	<% } else { %>
		<span class="label label-primary hidden-xs">Manual</span>
		<span class="label label-primary visible-xs">M</span>
	<% } %>
</td>
<td style="text-align:center">
	<% if (parseInt(traspaso)) { %>
		<span class="label label-default">SI</span>
	<% } else { %>
		<span class="">&nbsp;</span>
	<% } %>
</td>