<h3>Gráficas</h3>
<hr>

<div class="row" style="margin-bottom: 10px;">
	<div class="col-sm-12">
		<ul class="nav nav-pills">
			<li class="active"><a href="#chart1" aria-controls="chart1" data-toggle="tab" opt="01">Saldos de Cuentas</a></li>
			<li><a href="#chart2" aria-controls="chart2" data-toggle="tab" opt="02">Gastos por Día</a></li>
			<li><a href="#chart3" aria-controls="chart3" data-toggle="tab" opt="03">Gastos Mensuales</a></li>
			<li><a href="#chart4" aria-controls="chart4" data-toggle="tab" opt="04">Prom. Diario/Mes</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		<div style="margin-bottom: 20px;">
			<div class="form-group divFrm01" style="display: none;">
				<label>Tipo:</label>
				<select name="tipo" class="form-control">
					<option value="">-- Todos --</option>
					<option value="E">Efectivo</option>
					<option value="D">Débito</option>
					<option value="C">Crédito</option>
				</select>
			</div>

			<div class="form-group divFrm02 divFrm03 divFrm04" style="display: none;">
				<label>Clase:</label>
				<select name="categorias" class="form-control">
					<option value="">-- Todos --</option>
				</select>
			</div>

			<div class="form-group divFrm02 divFrm03 divFrm04" style="display: none;">
				<label>Subclase:</label>
				<select name="subcategorias" class="form-control">
					<option value="">-- Todos --</option>
				</select>
			</div>

			<div class="form-group divFrm02" style="display: none;">
				<label>Año: </label>
				<input type="number" name="year_02" class="form-control configChart" opt="02" value="">
			</div>
			
			<div class="form-group divFrm02" style="display: none;">
				<label>Mes:</label>
				<select name="month_02" class="form-control configChart" opt="02">
					<option value="">-- Todos --</option>
					<option value="01">Enero</option>
					<option value="02">Febrero</option>
					<option value="03">Marzo</option>
					<option value="04">Abril</option>
					<option value="05">Mayo</option>
					<option value="06">Junio</option>
					<option value="07">Julio</option>
					<option value="08">Agosto</option>
					<option value="09">Septiembre</option>
					<option value="10">Octubre</option>
					<option value="11">Noviembre</option>
					<option value="12">Diciembre</option>
				</select>
			</div>

			<div class="divFrm03 divFrm04" style="display: none;">
				<div class="form-group">
					<label>Mostrar:</label>
					<select name="last_months" class="form-control configChart">
						<option value="6">6 meses</option>
						<option value="12" selected="selected">12 meses</option>
						<option value="24">24 meses</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-10">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="chart1">
				<div class="row">
					<div class="col-sm-12">
						<div id="canvas-chart01"></div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="chart2">
				<div class="row">
					<div class="col-sm-12">
						<div id="canvas-chart02"></div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="chart3">
				<div class="row">
					<div class="col-sm-12">
						<div id="canvas-chart03"></div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="chart4">
				<div class="row">
					<div class="col-sm-12">
						<div id="canvas-chart04"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>