<h3><% if (recId) { %>Ver<% } else { %>Nuevo<% } %> Gasto</h3>
<hr/>
<div class="alert alert-warning div-errors"></div>
<form role="form">
  <fieldset>
    <div class="row">
      <div class="col-xs-5">
        <div class="form-group">
          <label for="cuenta_id">Cuenta:</label>
          <select name="cuenta_id" class="form-control">
            <option value="">-- Seleccione --</option>
          </select>
        </div>

        <div class="form-group date">
          <label for="fecha">Fecha:</label>
          <div class="input-group date" style="max-width:150px">
            <input type="text" name="fecha" class="form-control">
            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>

        <div class="form-group">
          <label for="importe">Importe:</label>
          <input type="number" name="importe" class="form-control">
        </div>

        <div class="form-group">
          <label for="categoria_id">Clase:</label>
          <select name="categoria_id" class="form-control">
            <option value="">-- Seleccione --</option>
          </select>
        </div>

        <div class="form-group">
          <label for="subcategoria_id">Sub-Clase:</label>
          <select name="subcategoria_id" class="form-control">
            <option value="">-- Seleccione --</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>Saldo en Cuenta:</label>
          <div id="div-account-balance">$0.00</div>
        </div>

        <div class="form-group">
          <label for="observaciones">Observaciones:</label>
          <textarea name="observaciones" class="form-control" rows="12" style="resize:none;"></textarea>
        </div>
      </div>
    </div>
    
    <hr class="buttons"/>
    <button type="button" class="btn btn-primary btn-sm cmd-save">Guardar</button>
    <button type="button" class="btn btn-default btn-sm cmd-back">Atras</button>
    <% if (recId) { %>
    <button type="button" class="btn btn-warning btn-sm cmd-cancel">Cancelar</button>
    <% } %>
    
  </fieldset>
</form>