<td>
  <span class="glyphicon glyphicon-edit row-btn-edit" style="visibility:hidden;"></span>
  <%= fecha %>
</td>
<td>
	<div><%= subcategoria_nombre %></div>
	<div class="cls-sub-text"><%= categoria_nombre %></div>
</td>
<td>
	<div class="cls-sub-text"><%= cuenta_nombre %></div>
</td>
<td style="text-align:right">$<%= importe.formatMoney() %></td>
<td style="text-align:center">
	<% if (parseInt(extraordinario)) { %>
		<span class="label label-warning btn-mark cursor-pointer">Si</span>
	<% } else { %>
		<span class="label label-default btn-mark cursor-pointer">No</span>
	<% } %>
</td>