<h3>Ingresos</h3>
<hr/>
<div class="row">
  <div class="col-sm-3 col-md-2">
    <div class="row">
      <div class="col-sm-12"><h5>Filtros</h5></div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <%= tplCancel() %>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10">
    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 5px;">
        <%= tplNewBtn() %>
      </div>
      <div class="col-sm-6">
        <%= tplSearch() %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <td>
                <span class="order-field" orderfield="fecha" ordertype="DESC">
                  Fecha <span class="glyphicon glyphicon-arrow-down"></span>
                </span>
              </td>
              <td>
                <span>Clase/Subclase</span>
              </td>
              <td>
                <span>Cuenta</span>
              </td>
              <td align="right">
                <span>Importe</span>
              </td>
            </tr>
          </thead>
          <tbody class="main-data-list"></tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="pull-right">
        <%= tplPaging() %>
      </div>
    </div>
  </div>
</div>
<br>