<h3>Cuentas</h3>
<hr/>
<div class="row">
  <div class="col-sm-3 col-md-2">
    <div class="row">
      <div class="col-sm-12"><h5>Filtros</h5></div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <%= tplStatus() %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <label>Tipo:</label>
        <select class="form-control list-filter" name="tipo" style="max-width:100px;">
          <option value="">Todos</option>
          <option value="E">Efectivo</option>
          <option value="D">Débito</option>
          <option value="C">Crédito</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10">
    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 5px;">
        <%= tplNewBtn() %>
        <%= tplPrintBtn() %>
      </div>
      <div class="col-sm-6">
        <%= tplSearch() %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <td>
                <span class="order-field" orderfield="nombre" ordertype="ASC">
                  Nombre <span class="glyphicon glyphicon-arrow-up"></span>
                </span>
              </td>
              <td>
                <span class="order-field" orderfield="tipo" ordertype="ASC">
                  Cuenta/Tarjeta <span class="glyphicon"></span>
                </span>
              </td>
              <td>
                <span>Saldo</span>
              </td>
              <td class="hidden-xs hidden-sm">
                <span class="order-field" orderfield="usa_ingresos" ordertype="ASC">
                  Ingreso <span class="glyphicon"></span>
                </span>
              </td>
              <td class="hidden-xs hidden-sm">
                <span class="order-field" orderfield="usa_gastos" ordertype="ASC">
                  Gasto <span class="glyphicon"></span>
                </span>
              </td>
            </tr>
          </thead>
          <tbody class="main-data-list"></tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-left">
          <div>
            <span><b>Saldo: </b></span>
            <span class="cls-total-accounts">$0.00</span>
          </div>
        </div>
        <div class="pull-right">
          <%= tplPaging() %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>