<td>
  <div>
  	<span class="glyphicon glyphicon-edit row-btn-edit" style="visibility:hidden;"></span>
  	<%= nombre %>
  </div>
  <div class="cls-sub-text">
  	<span style="padding-left: 16px;"><%= (tipo == 'C') ? 'CREDITO' : ( (tipo == 'D') ? 'DEBITO' : ((tipo == 'E') ? 'EFECTIVO' : '???')) %></span>
  </div>
</td>
<td>
	<div class="cls-sub-text cursor-default" title="Num. de Tarjeta"><%= num_tarjeta %></div>
	<div class="cls-sub-text cursor-default" title="Num. de Cuenta"><%= num_cuenta %></div>
</td>
<td>
	<div class="cls-sub-text"><%= clabe %></div>
</td>
<td align="right" class="<%= (saldo < 0) ? 'cls-negative' : '' %>">$<%= saldo.formatMoney() %></td>
<td align="center" class="hidden-xs hidden-sm" style="vertical-align: middle;">
	<% if (parseInt(usa_ingresos)) { %>
	<span class="label label-success glyphicon glyphicon-ok" 
	      style="width: 22px; display: inline-block;"></span>
	<% } else { %>
	&nbsp;
	<% } %>
</td>
<td align="center" class="hidden-xs hidden-sm" style="vertical-align: middle;">
	<% if (parseInt(usa_gastos)) { %>
	<span class="label label-danger glyphicon glyphicon-ok" 
	      style="width: 22px; display: inline-block;"></span>
	<% } else { %>
	&nbsp;
	<% } %>
</td>
<td align="center" class="hidden-xs hidden-sm" style="vertical-align: middle;">
	<% if (parseInt(es_ahorro)) { %>
	<span class="label label-info glyphicon glyphicon-ok" 
	      style="width: 22px; display: inline-block;"></span>
	<% } else { %>
	&nbsp;
	<% } %>
</td>
<td align="center" class="hidden-xs hidden-sm" style="vertical-align: middle;">
	<% if (parseInt(es_inversion)) { %>
	<span class="label label-info glyphicon glyphicon-ok" 
	      style="width: 22px; display: inline-block;"></span>
	<% } else { %>
	&nbsp;
	<% } %>
</td>
<td align="right" class="hidden-xs">
	<%= orden %>
</td>