<td>
  <span class="glyphicon glyphicon-edit row-btn-edit" style="visibility:hidden;"></span>
  <%= nombre %>
</td>
<td><%= (tipo == 'C') ? 'CREDITO' : ( (tipo == 'D') ? 'DEBITO' : 'EFECTIVO') %></td>
<td align="right" class="<%= (saldo < 0) ? 'cls-negative' : '' %>">$<%= saldo.formatMoney() %></td>
<td align="center">
	<% if (parseInt(usa_ingresos)) { %>
	<span class="label label-success">SI</span>
	<% } else { %>
	&nbsp;
	<% } %>
</td>
<td align="center">
	<% if (parseInt(usa_gastos)) { %>
	<span class="label label-success">SI</span>
	<% } else { %>
	&nbsp;
	<% } %>
</td>