<h3>Reporte de Gastos vs. Ingresos por Mes</h3>
<hr/>
<div class="row">
	<div class="col-sm-3 col-md-2">
		<div class="form-group">
			<label>Meses anteriores:</label>
			<input type="number" class="form-control" name="months" min="1" value="6" placeholder="Especifique los meses">
		</div>

		<div class="cls-ver-comentarios" style="margin-top: 15px;">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="curr_month" value="1"> Mes actual
				</label>
			</div>
		</div>

		<div style="margin-top: 15px;">
			<div class="radio">
				<label>
					<input type="radio" name="option_report" value="PDF" checked="checked"> Ver en Pantalla
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="option_report" value="CSV"> Descargar CSV
				</label>
			</div>
		</div>
		
		<button class="btn btn-success btn-generate" style="margin-top: 15px;">Generar</button>
	</div>
</div>
<br>