<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ABACONT</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#home">Inicio</a></li>
        <li class="dropdown">
          <a href="#menu3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#ingresos">Ingresos</a></li>
            <li><a href="#gastos">Gastos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#mov_cuentas">Movimientos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#menu1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catálogos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#cuentas">Cuentas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#clases">Clases</a></li>
            <li><a href="#subclases">Subclases</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#menu2" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#rpt-movs">Gastos/Ingresos</a></li>
            <li><a href="#rpt-movs-accounts">Movimientos de Cuentas</a></li>
            <li><a href="#rpt-incomes-expenses">Gastos vs. Ingresos (por Mes)</a></li>
          </ul>
        </li>
        <li><a href="#graficas">Gráficas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a id="optLogOut" href="javascript:;">Logout</a></li>-->
        <li class="dropdown">
          <a href="#menu3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="userName"><%= App.User.display %></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!--<li><a href="#profile">Perfil</a></li>-->
            <li><a id="optLogOut" href="javascript:;">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" id="main-container"></div>