<h3>Inicio</h3>
<hr/>

<div class="row">
	<div class="col-sm-12">
		<div>
			<div class="cls-kpi cls-kpi-md">
				<div class="cls-kpi-title">Ingreso Diario</div>
				<div class="cls-kpi-body">
					<div id="kpiIng30d" class="text-primary">$0.00</div>
					<div class="cls-kpi-small">30 dias</div>
				</div>
			</div>
			<div class="cls-kpi cls-kpi-md">
				<div class="cls-kpi-title">Gasto Diario</div>
				<div class="cls-kpi-body">
					<div id="kpiExp30d" class="text-danger">$0.00</div>
					<div class="cls-kpi-small">30 dias</div>
				</div>
			</div>
		</div>

		<div>
			<div class="cls-kpi cls-kpi-md">
				<div class="cls-kpi-title">Ingreso Diario</div>
				<div class="cls-kpi-body">
					<div id="kpiIng6m" class="text-primary">$0.00</div>
					<div class="cls-kpi-small">6 meses</div>
				</div>
			</div>
			<div class="cls-kpi cls-kpi-md">
				<div class="cls-kpi-title">Gasto Diario</div>
				<div class="cls-kpi-body">
					<div id="kpiExp6m" class="text-danger">$0.00</div>
					<div class="cls-kpi-small">6 meses</div>
				</div>
			</div>
		</div>
	</div>
</div>